{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Edit Slideshow" %}
{% endblock %}

{% block formButtons %}
  {% trans "Cancel" %}, XiboDialogClose()
  {% trans "Save" %}, AssignedMediaSubmit()
{% endblock %}


{% block formFieldActions %}
    [{
    "field": "useDuration",
    "trigger": "init",
    "value": false,
    "operation": "is:checked",
    "actions": {
    ".duration-fields": { "display": "none" }
    }
    },{
    "field": "useDuration",
    "trigger": "change",
    "value": false,
    "operation": "is:checked",
    "actions": {
    ".duration-fields": { "display": "none" }
    }
    },{
    "field": "useDuration",
    "trigger": "init",
    "value": true,
    "operation": "is:checked",
    "actions": {
    ".duration-fields": { "display": "block" }
    }
    },{
    "field": "useDuration",
    "trigger": "change",
    "value": true,
    "operation": "is:checked",
    "actions": {
    ".duration-fields": { "display": "block" }
    }
    }]
{% endblock %}


{% block callBack %}mediaFormCallBack{% endblock %}

{% block formHtml %}
  <div class="row">
    <div class="col-sm-12">
      {% set title %}{% trans "Set a duration?" %}{% endset %}
      {% set helpText %}{% trans "Select to provide a specific duration for this Widget" %}{% endset %}
      {{ forms.checkbox("useDuration", title, module.getUseDuration(), helpText) }}

      {% set title %}{% trans "Duration" %}{% endset %}
      {% set helpText %}{% trans "The duration in seconds this should be displayed" %}{% endset %}
      {{ forms.number("duration", title, module.getDuration(), helpText, "duration-fields", "required") }}

    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div id="libraryAssignFilterOptions">
        <form onsubmit="false">
          <div class="row">
            <div class="col-md-6">
              {% set title %}{% trans "Name" %}{% endset %}
              {{ inline.input("media", title) }}
            </div>
            <div class="col-md-6">
              {% set title %}{% trans "Type" %}{% endset %}
              {{ inline.dropdown("type", "single", title, "", [{type: null, name: ""}], "type", "name") }}
            </div>
          </div>
        </form>
      </div>
      
      <div class="XiboGrid" id="{{ random() }}">
        <div class="XiboData">
          <table id="mediaAssignments" class="table table-striped">
            <thead>
              <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div id="SlideshowAssign" class="well" data-url="{{ urlFor("module.widget.add", {type: module.widget.type, id: playlist.playlistId}) }} ">
        <h4>{% trans "Assignments" %}</h4>
        <div>
          <ul id="SlideshowAssignSortable">
            {% for item in mediaList %}
              <li id="MediaID_{{ item.mediaId }}" class="li-sortable">{{ item.name }}<span class="glyphicon glyphicon-minus-sign"></span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var AssignedMediaSubmit = function() {
    // Collect our media
    var media = '';
    $("#SlideshowAssignSortable > li").each(function() {
    media = media + ',[' + $(this).data().mediaId + ']';
    });
    var useDuration = $("#useDuration").val();
    var duration = $("#duration").val();

    $.ajax({
    type: "post",
    url: $("#SlideshowAssign").data().url,
    cache: false,
    dataType: "json",
    data: {
    mediaList: media.substring(1),
    useDuration: useDuration,
    duration: duration		
    },
    success: XiboSubmitResponse
    });	
    };
  </script>
  
{% endblock %}
